# Visual Studio
.vs

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeLists.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Folder contains build
[Bb]uild

# Python
__pycache__

# PG
pg.egg-info
PGenerator/pg.egg-info/
PGenerator/dist/

# Visual Studio Code
.vscode

# JetBrains
.idea

# Other
.html
Scripts/outputs/*.temp